{% extends "base_navigation.html" %}

{% block title %}
    Flask_Dash
{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        
        @media (min-width: 576px) { }

    
        @media (min-width: 768px) {}


        @media (min-width: 992px) {}


        @media (min-width: 1200px) {}


        @media (min-width: 1400px) {}
    </style>
{% endblock %}


{% block content %}
    <div class="container-lg">
        <h1>Flask_Dash__及時更新</h1>
        {{ super() }}
    </div>
       
{% endblock %}


{% block footer %}
        &copy; Copyright 2023 by <a href="https://flask-dash-web-uym5.onrender.com">徐國堂</a>.
{% endblock %}

