{% extends "base.html" %}

{% block navi %}
<div class="container-lg">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">快捷列</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">回到首頁</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dash
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/dash/app2">交易資料及線型</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</div>
<img src="./stock.jpg" alt="">
{% endblock %}
