{% extends "base_navigation.html" %} <!--繼承自base_navigation.html的設定-->

{% block title %}
Dash專題 股價查詢網頁
{% endblock %}

{% block head %}
{{ super() }}
<style>
    @media (min-width: 576px) {}

    @media (min-width: 768px) {}

    @media (min-width: 992px) {}

    @media (min-width: 1200px) {}

    @media (min-width: 1400px) {}
</style>
{% endblock %}

<!--網頁內容-->
{% block content %}
    <div class="container-lg">
        <h1>鴻海股票每日更新中</h1>
        <h2>買賣股票有賺有賠，通常都是靠自己</h2>
        <h2>本網站只是展示，數據都不是真的XD</h2>
        {{super()}}
    </div>
{% endblock %}    
<!--網頁底部-->
{% block footer %}
&copy; Copyright 2023 by <a href="https://flask-dash-web-uym5.onrender.com">專題組所有人員共有</a>.
{% endblock %}