{% extends "base.html" %}

{% block navi %}
<div class="container-lg">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">台北市 YouBike 2.0 站點即時&預測資訊</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">首頁</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth">會員登入</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/car">車輛介紹</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dash/app3">站點搜尋</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dash/app1">車輛預測圖表</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

{% endblock %}