<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北市 YouBike 2.0 車輛介紹</title>
    <script src="static/js/jquery-1.10.2.min.js"></script>
    <script src="static/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="static/js/myJS.js"></script>
    <link rel="stylesheet" href="static/css/style.css">


</head>

<body>
    <div class="title">
        <h1><a href="/">YouBike 2.0 圖示簡介</a></h1>
    </div>
    <div id="PIC">
        <ul>
            <li><img src="../static/images/youbike2.0.PNG" width="1000" height='450' alt="" /></li>
            <li><img src="../static/images/Youbike2.0租借.PNG" width="766" height='525' alt="" /></li>
            <li><img src="../static/images/Youbike2.0座高調整.PNG" width="766" height='525' alt="" /></li>
            <li><img src="../static/images/Youbike2.0變速介紹.PNG" width="766" height='525' alt="" /></li>
            <li><img src="../static/images/Youbike2.0隨車鎖.PNG" width="766" height='525' alt="" /></li>
        </ul>
    </div>
</body>

</html>