{% extends "base_navigation.html" %}

{% block title %}
    Flask_Dash
{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        
        @media (min-width: 576px) { }

    
        @media (min-width: 768px) {}


        @media (min-width: 992px) {}


        @media (min-width: 1200px) {}


        @media (min-width: 1400px) {}
    </style>
{% endblock %}


{% block content %}
    <div class="container-lg">
        <h1 class="h1img"><img src="../static/images/YouBike_2.0E.png" width="800" height='533' alt="" /></h1>
    </div>
       
{% endblock %}


{% block footer %}
        &copy; Copyright 2023 
{% endblock %}

