<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>suicide</title>
    <script src="static/js/jquery-1.10.2.min.js"></script>
    <script src="static/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="static/js/myJS.js"></script>
    <link rel="stylesheet" href="static/css/style.css">

    
</head>
<body>
    <div class="title">
        <h1>Suicide Ideation</h1>
    </div>
    <div id="PIC">
        <ul>
            <li><img src="../static/images/LINE_ALBUM_長長圖_231204_4.jpg" width="1000" height='350' alt="" /></li>
            <li><img src="../static/images/LINE_ALBUM_長長圖_231204_5.jpg" width="1000" height='350' alt="" /></li>
            <li><img src="../static/images/LINE_ALBUM_長長圖_231204_8.jpg" width="1000" height='350' alt="" /></li>
            <li><img src="../static/images/LINE_ALBUM_長長圖_231204_7.jpg" width="1000" height='350' alt="" /></li>
            <li><img src="../static/images/LINE_ALBUM_長長圖_231204_6.jpg" width="1000" height='350' alt="" /></li>
            <li><img src="../static/images/LINE_ALBUM_長長圖_231204_9.jpg" width="1000" height='350' alt="" /></li>
            <li><img src="../static/images/LINE_ALBUM_長長圖_231204_10.jpg" width="1000" height='350' alt="" /></li>
        </ul>
    </div>
    <div class="div2">     
        <p>現在你應該會覺得落後於人，但你還是要活下去，「因為天氣很好、因為天氣很糟糕，所以不該死」，你就先這樣想吧！</p>
    </div>

    <div class="div3">
        <div class="star"><p>推建指數★★★</p></div>
        <div class="star">
            <p>推建指數★★★★</p>
        </div>
        <a class="a01_1" href="/dash/app4"><div class="a01" id="a01">
        </div></a>
        <a class="a02_1" href="/dash/app4"><div class="a02" id="a01"> 
        </div></a>
        <div class="star">
            <p>推建指數★★★★</p>
        </div>
        <div class="star">
            <p>推建指數★★★★★</p>
        </div>
        <a class="a03_1" href="/dash/app4"><div class="a03" id="a01">
        </div></a>
        
        <a class="a04_1" href="/dash/app4"><div class="a04" id="a01">
        </div></a>
        <div class="star">
            <p>推建指數★★</p>
        </div>
        <div class="star">
            <p>推建指數★★★★</p>
        </div>
        <a class="a05_1" href="/dash/app4"><div class="a05" id="a01">
        </div></a>
        
        <a class="a06_1" href="/dash/app4"><div class="a06" id="a01">
        </div></a>
        <div class="star">
            <p>推建指數★★★</p>
        </div>
        <div class="star">
            <p>推建指數★★★★★</p>
        </div>
        <a class="a07_1" href="/dash/app4"><div class="a07" id="a01">
        </div></a>
        <a class="a08_1" href="/dash/app4"><div class="a08" id="a01">
        </div></a>
    </div>
    <div class="bottom">
        <p>人生最大的幸福對人類來說，已經是達不到：就是從未出生、不存在；<br>第二幸福對人類來講就是—早點死去！</p>
    </div>


</body>
</html>