<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <title>{% block title %}{% endblock %} </title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">

    {% endblock %}
</head>
<body>
    {% block navi %}
    {% endblock %}
    
    {% block content %}        
        <div id="footer">
            {% block footer %}
            &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.
            {% endblock %}
        </div>
    {% endblock %}
    <script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}"></script>
    
</body>
</html>